<div class="cardPreview">
  <div class="upCard">
    <div>
      <h3>{{this.title}}</h5>
        <p>{{this.school}} - {{this.subject}} - {{this.teacher}}</p>
        <p>Likes - Dislikes</p>
        
    </div>
    <div class="vizualizacion">
      <img class="ojito" src="/images/whiteEye.png" alt="">
      <p> 45,900</p>
    </div>
    
  </div>

  <div class="downPreview">
      <a href="{{this.fileURL}}">Ver apunte</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, aut corrupti eaque quidem ipsum et dicta
      culpa porro quas cupiditate velit sit consequatur tempore voluptas. Nihil iste numquam ipsum excepturi.
    </p>
  </div>

</div>