<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buenos Apuntes</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.scss">
</head>

<body>
  <div id="container-global">
    <div id="container-header">
      <div>
        <a href="/"><img id="logo-top-left" src="https://res.cloudinary.com/gbrnkx/image/upload/v1543887957/buenos-apuntes/logos/buenos_apuntes_logo.png"
            alt="buenos_apuntes_logo"></a>
      </div>
      <nav id="nav-header">
        {{#if user}}
        <button class="upload-button" onclick="window.location.href='/auth/upload'"> <img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543904309/buenos-apuntes/logos/upload-icon.png"
            alt="upload-icon" height="27px" width="27px">SUBIR APUNTE</button>
        <a class="text-nav" id="anchor-exit" href="/auth/logout"> <img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543904753/buenos-apuntes/logos/logout-icon.png"
            alt="logout-icon" height="27px" width="27px"></a>
        <a class="text-nav" href="/auth/profile">MI CUENTA</a>
        <img id="user-top-right" src="{{user.photo}}" alt="user_pic">
        {{else}}
        <button class="upload-button" onclick="window.location.href='/auth/upload'"> <img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543904309/buenos-apuntes/logos/upload-icon.png"
            alt="upload-icon" height="27px" width="27px">SUBIR APUNTE</button>
        <a class="text-nav" href="/auth/login">INICIA SESIÓN</a>
        <a class="text-nav" href="/auth/signup">REGÍSTRATE</a>
        {{/if}}
      </nav>
    </div>

    {{{body}}}

  </div>

  {{!-- <nav>
    <a href="/"><img id='logoA' class="logoA" src="https://res.cloudinary.com/gbrnkx/image/upload/v1543887957/buenos-apuntes/logos/buenos_apuntes_logo.png"
        alt="logoA"></a>

    <div class="vista">
      {{#if user}}
      <ul>
        <li><button class="upload-button" onclick="window.location.href='/auth/upload'"> <img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543904309/buenos-apuntes/logos/upload-icon.png"
              alt="upload-icon" height="27px" width="27px">Subir Apunte</button></li>
        <li><a class="text-nav" id="anchor-exit" href="/auth/logout"> <img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543904753/buenos-apuntes/logos/logout-icon.png"
              alt="logout-icon" height="27px" width="27px"></a></li>
        <li><a class="linkUp" href="/upDocuments">Mi Cuenta</a></li>
      </ul>
      <img class="profilePic" src="{{user.photo}}" alt="batman">
      { {{else}}
      <li><a class="linkUp" href="/auth/login">Inicia Sesión</a></li>
      <li><a class="linkUp" href="/auth/signup">Registrate</a></li>
      {{/if}}
    </div>

    <img id="hamburguesita" class="hambur" src="/images/ham-menu.png" alt="">

    <ul id="listaa" class="listita">
      <li class="linkDown"><a href="/premium">Inicia Sesión</a></li>
      <li class="linkDown"><a href="/profile">Registrate</a></li>
    </ul>

  </nav>
  --}}


  <footer>
    <div><img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543887957/buenos-apuntes/logos/buenos_apuntes_logo.png"
        alt=""></div>
    <div>
      <p>
        601 Av. Insurgentes Sur
        <br>
         Ciudad de México
      </p>
      <p>
        +1.52.55555555
      </p>
    </div>
    <div>
      <h3>Sobre nosotros</h3>
      <p>Somos una empresa que busca ayudar a la mayor cantidad de estudiantes posibles, ya que sabemos lo dificil que y estresante que puede resultar la escuela</p>
    </div>

  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>